@charset "UTF-8";
* {
  box-sizing: border-box; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-bold.ttf");
  font-weight: bold;
  font-style: normal; }

body {
  font-family: 'Roboto';
  font-weight: normal; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-out, border-color 0.3s ease-out; }
  a:focus {
    outline: none;
    color: crimson; }

button {
  cursor: pointer;
  transition: background-color 0.5s ease-out; }

svg {
  transition: fill 0.5s ease-out; }

input, textarea {
  transition: border 0.3s ease-out; }

.point {
  position: relative;
  top: 1px;
  color: crimson;
  font-size: 40px; }
  .point--header {
    font-size: 60px; }

.page-header {
  height: 80px;
  border-bottom: 2px solid #ececec;
  margin-bottom: 6px; }

.page-header__wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0px 10px; }
  @media (max-width: 1200px) {
    .page-header__wrapper {
      width: 95%;
      padding: 0 5px; } }

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .main-nav .point {
    line-height: 64px; }

.main-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  list-style: none; }

.main-nav__item {
  text-transform: uppercase;
  margin-left: 30px; }
  .main-nav__item a:hover {
    color: crimson; }

.name {
  font-size: 36px;
  position: relative; }

@media (max-width: 767px) {
  .page-header {
    height: 60px; }
  .main-nav__logo {
    margin: 0 auto; }
  .main-nav__list--hidden {
    display: none; }
  .main-nav .point {
    line-height: 44px; } }

.page-main__wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0px 10px; }
  @media (max-width: 1200px) {
    .page-main__wrapper {
      width: 95%;
      padding: 0 5px; } }

.contacts {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 50px; }

.about {
  width: 50%; }

.photo {
  width: 50%;
  margin-top: 60px;
  text-align: center; }

.title {
  position: relative;
  font-size: 38px; }

.about__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }

.about__type {
  -webkit-order: 0;
  order: 0;
  font-weight: bold;
  width: 110px; }

.about__link {
  -webkit-order: 1;
  order: 1;
  border-bottom: 1px dashed crimson;
  padding-bottom: 3px; }

.about__link:hover {
  border-bottom: 1px dashed transparent; }

.about__link:focus {
  color: crimson;
  border-bottom: 1px dashed transparent; }

.about__link:hover ~ .about__type,
.about__link:focus ~ .about__type {
  fill: crimson; }

#telegram circle:hover {
  fill: blue; }

.about__text {
  line-height: 24px; }

.social__link-list {
  display: flex;
  justify-content: space-around;
  width: 150px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  list-style: none;
  margin: 0;
  margin-left: 40px;
  padding: 0; }

.social__link:hover svg,
.social__link:focus svg {
  fill: crimson; }

.divider {
  border: 1px solid #ececec;
  margin-bottom: 20px; }

@media (max-width: 955px) {
  .about {
    width: 55%; }
  .photo {
    width: 40%; }
    .photo img {
      width: 260px;
      height: 260px; } }

@media (max-width: 767px) {
  .contacts {
    flex-wrap: wrap; }
  .title {
    font-size: 26px;
    text-align: center; }
  .about {
    order: 1;
    width: 100%;
    text-align: center; }
  .about__contaсts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin: 0 auto; }
  .about__item {
    width: 250px; }
    .about__item--social {
      width: 150px;
      flex-basis: 100%; }
  .about__link {
    display: block;
    min-width: 100px; }
  .social__link-list {
    margin: 0 auto; }
  .photo {
    width: 100%;
    margin-top: 20px; }
    .photo img {
      width: 210px;
      height: 210px; } }

.skills {
  padding-top: 20px; }

.question {
  color: crimson;
  font-size: 34px; }

.title--skills {
  font-size: 34px; }

.skills__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 100px;
  margin: 0;
  padding: 0;
  list-style: none; }

.skills__item {
  width: 30%;
  background-repeat: no-repeat;
  margin-bottom: 50px; }
  .skills__item .item__wrapper {
    height: 120px;
    display: flex;
    align-items: center; }
  .skills__item .item__background {
    margin: 0 auto;
    margin-bottom: 30px; }
  .skills__item .text__title {
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    color: crimson; }
  .skills__item .text__description {
    font-size: 14px;
    line-height: 24px;
    text-align: center; }
  .skills__item--layout .item__background {
    background-image: url(../img/sprite.png);
    background-position: 0px -290px;
    width: 319px;
    height: 60px; }
  .skills__item--browsers .item__background {
    background-image: url(../img/sprite.png);
    background-position: 0px -225px;
    width: 314px;
    height: 65px; }
  .skills__item--frontend {
    padding-top: 0px; }
    .skills__item--frontend .item__background {
      background-image: url(../img/sprite.png);
      background-position: 0px -127px;
      width: 271px;
      height: 98px; }
  .skills__item--tools .item__background {
    background-image: url(../img/sprite.png);
    background-position: -230px 0px;
    width: 244px;
    height: 114px; }
  .skills__item--perfomance .item__background {
    background-image: url(../img/sprite.png);
    background-position: -110px -350px;
    width: 110px;
    height: 110px; }
  .skills__item--accuracy .item__background {
    background-image: url(../img/sprite.png);
    background-position: 0px -350px;
    width: 110px;
    height: 110px; }

@media (max-width: 1200px) {
  .skills {
    padding-top: 5px; }
  .skills__item {
    width: 50%; } }

@media (max-width: 767px) {
  .skills {
    padding-top: 0; }
  .skills__item {
    width: 100%; } }

@media (max-width: 350px) {
  .title--skills {
    margin-bottom: 65px; }
  .skills__item--browsers .item__background {
    background-image: url(../img/sprite.png);
    background-position: 0px 0px;
    width: 230px;
    height: 127px; }
  .skills__item--layout .item__background {
    background-image: url(../img/sprite.png);
    background-position: -271px -127px;
    width: 189px;
    height: 97px; } }

.portfolio {
  display: flex;
  flex-wrap: wrap; }

.title--portfolio {
  position: relative;
  font-size: 36px;
  width: 100%; }

.notice {
  position: absolute;
  font-size: 14px;
  color: crimson;
  top: 0px; }

.portfolio__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%; }

.portfolio__item {
  border: 1px solid #ececec;
  min-height: 460px;
  width: 400px;
  margin-bottom: 50px; }
  .portfolio__item:hover {
    border: 1px solid crimson; }
  .portfolio__item:hover .portfolio__preview {
    border-bottom: 1px solid crimson; }
  .portfolio__item:hover .portfolio__item-title {
    color: crimson;
    text-decoration: underline; }

.portfolio__preview {
  height: 400px;
  width: 100%;
  border-bottom: 1px solid black;
  overflow: hidden;
  transition: border-bottom 0.5s ease-out; }
  .portfolio__preview img {
    width: 100%;
    transition: transform 0.1s ease-out; }

.portfolio__item-info {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px; }

.portfolio__item-title {
  font-size: 14px;
  line-height: 26px;
  transition: color 0.5s ease-out; }

.toggle-description, .label-description {
  display: none; }

.portfolio__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  width: 900px;
  height: 600px;
  padding: 20px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 6px;
  box-shadow: 5px 5px 5px 0px grey;
  transform: translate(-50%, -50%);
  z-index: 1000;
  animation-name: bounce;
  animation-duration: 0.5s; }

@keyframes bounce {
  0% {
    transform: translate(-50%, -1000px);
    top: -30%; }
  100% {
    transform: translate(-50%, -50%);
    top: 50%; } }

.modal__pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%; }

.pictures__first-picture {
  width: 100%;
  height: 50%;
  margin-bottom: 10px;
  overflow: hidden;
  border: 1px solid black; }
  .pictures__first-picture img {
    width: 100%; }

.pictures__second-picture {
  width: 70%;
  height: 50%;
  overflow: hidden;
  border: 1px solid black; }
  .pictures__second-picture img {
    width: 100%; }

.portfolio__modal--keksobooking .pictures__first-picture img {
  height: 100%; }

.portfolio__modal--keksobooking .pictures__second-picture {
  margin: 0 auto; }
  .portfolio__modal--keksobooking .pictures__second-picture img {
    height: 100%; }

.pictures__third-picture {
  width: 28%;
  height: 50%;
  overflow: hidden;
  border: 1px solid black; }
  .pictures__third-picture img {
    width: 100%; }

.modal__description {
  margin-left: 40px;
  max-width: 40%; }

.modal__title {
  font-size: 14px; }

.modal__text {
  font-size: 12px;
  line-height: 18px; }

.stack {
  font-size: 14px; }

.modal__stack-list {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  list-style: none; }

.modal__stack-item {
  font-size: 14px;
  position: relative;
  margin-bottom: 5px;
  margin-left: 10px; }
  .modal__stack-item:before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: -10px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: crimson; }

.modal__link {
  margin-right: 20px;
  border-bottom: 1px solid crimson;
  padding-bottom: 4px; }
  .modal__link:hover, .modal__link:focus {
    outline: none;
    color: crimson;
    border-color: transparent; }

.cross {
  display: block;
  position: relative;
  left: 94%;
  width: 18px;
  height: 18px; }
  .cross:after {
    position: absolute;
    left: 8px;
    top: -1px;
    display: block;
    content: "";
    width: 3px;
    height: 20px;
    background-color: black;
    transform: rotate(45deg); }
  .cross:before {
    position: absolute;
    left: 8px;
    top: -1px;
    display: block;
    content: "";
    width: 3px;
    height: 20px;
    background-color: black;
    transform: rotate(-45deg); }
  .cross:hover:after, .cross:hover:before {
    background-color: crimson;
    transition: background-color 0.5s ease-out; }

.hidden {
  display: none; }

@media (max-width: 1000px) {
  .portfolio__item {
    margin-right: 5px;
    width: 48%; }
  .portfolio__modal {
    width: 90%; }
  .portfolio__modal--keksobooking .pictures__second-picture {
    width: 100%; }
  .modal__link {
    display: inline-block;
    margin-bottom: 10px; } }

@media (max-width: 767px) {
  .title--portfolio {
    margin-bottom: 5px; }
  .notice {
    font-size: 12px; }
  .hidden {
    display: flex; }
  .portfolio__item {
    display: none; }
  .toggle-description, .label-description {
    display: block; }
  .toggle-description {
    display: none; }
  .toggle-description--mishka:checked ~ .stack,
  .toggle-description--mishka:checked ~ .modal__stack-list,
  .toggle-description--mishka:checked ~ .modal__text,
  .toggle-description--mishka:checked {
    display: none; }
  .toggle-description--keksobooking:checked ~ .stack,
  .toggle-description--keksobooking:checked ~ .modal__stack-list,
  .toggle-description--keksobooking:checked ~ .modal__text {
    display: none; }
  .portfolio__modal {
    position: static;
    flex-wrap: wrap;
    transform: none;
    animation: none;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border: 2px solid #ececec;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden; }
  .modal__pictures {
    width: 100%;
    order: 1; }
  .portfolio__modal--mishka .pictures__first-picture {
    height: 330px; }
  .portfolio__modal--mishka .pictures__second-picture {
    display: none; }
  .portfolio__modal--mishka .pictures__third-picture {
    display: none; }
  .portfolio__modal--keksobooking .pictures__first-picture {
    height: 100%; }
    .portfolio__modal--keksobooking .pictures__first-picture img {
      height: 100%; }
  .portfolio__modal--keksobooking .pictures__second-picture {
    display: none; }
  .label-description {
    width: 140px;
    color: crimson;
    border-bottom: 1px solid crimson;
    margin-bottom: 15px; }
  .modal__description {
    order: 0;
    max-width: 100%;
    margin: 0; }
  .modal__title {
    font-size: 16px;
    margin-bottom: 20px; }
  .cross {
    display: none; }
  .modal__link {
    margin-top: 40px; } }

.write-me {
  margin-bottom: 40px; }
  .write-me .point {
    font-size: 35px;
    top: 0px; }

.write-me__form {
  display: flex; }

.title--write-me {
  font-size: 36px; }

.write-me__wrapper {
  display: flex; }

.write-me__inner-wrapper {
  display: flex;
  flex-direction: column; }

.write-me__input {
  width: 260px;
  height: 50px;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #ececec;
  border-radius: 4px;
  -webkit-appearance: none; }
  .write-me__input:focus {
    border: 1px solid crimson;
    outline: none; }

.write-me__textarea-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 100px; }

.write-me__textarea {
  width: 350px;
  height: 130px;
  margin-bottom: 40px;
  resize: none;
  -webkit-appearance: none; }

.form__submit-button {
  width: 160px;
  height: 40px;
  padding: 10px;
  background-color: crimson;
  border: none;
  border-radius: 2px;
  color: white;
  text-transform: uppercase; }
  .form__submit-button:hover {
    background-color: #ad102f; }
  .form__submit-button:focus {
    background-color: #ad102f;
    border: 1px solid #7f0c23;
    outline: none; }

@media (max-width: 767px) {
  .write-me__inner-wrapper {
    width: 100%; }
  .write-me__form {
    flex-wrap: wrap; }
  .write-me__input {
    width: 100%; }
  .write-me__textarea-wrapper {
    margin-left: 0;
    width: 100%; }
  .write-me__textarea {
    width: 100%; }
  .form__submit-button {
    width: 100%; } }

.page-footer {
  border-top: 2px solid #ececec;
  padding-top: 30px;
  padding-bottom: 30px; }
  .page-footer .page-main__wrapper {
    display: flex;
    justify-content: space-around; }

.footer__contacts {
  display: flex; }

.footer__item {
  margin-left: 20px;
  font-size: 10px;
  color: grey; }

@media (max-width: 767px) {
  .page-footer {
    padding-top: 10px; }
  .footer__contacts {
    width: 50%;
    flex-direction: column; }
  .footer__item {
    width: 100%;
    margin-left: 0;
    font-size: 8px; }
  .footer__social {
    margin-top: 20px; } }
